*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dashboard: #93c5fd;
}

body{
    height: 100vw;
}

.main-page{
    display: flex;
    height: 100%;   
}


/* ------------------------DASHBOARD CSS--------------------------------- */



.dashboard-menu{
    background-color: var(--dashboard);
    padding: 1rem;
    width: 300px;
}

.dash-heading{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.dash-heading img{
    width: 70px;
}

.dash-main-links ul li{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

.dash-second-links{
    margin-top: 4rem;
}
.dash-second-links ul li{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

li img{
    width: 50px;
    height: auto;
}

.right-hand-side{
    flex-grow: 1;
    
}

.search-area{
    display: flex;
    padding: 1.2rem;
    align-items: center;
}
.search-area img{
    width: 40px;
    
}
.search-area input{
    border-radius: 1.25em;
    cursor: text;
    flex: 1;
    font-size: 1em;
    height: 2rem;
    margin: 0rem 0.85rem;
}

.profile-info{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 0rem 1.2rem;
    gap: 1.2rem;
}

.profile-info img{
    width: 100px;
    border-radius: 100%;
    
}
.username{
    flex: 1;
    display: flex;
    align-items: end;
}

.username h2{
    margin-left: 1.1rem;
}
.profile-info button{
    width: 70px;
    
}